
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/rapidcsv"]
	path = dependencies/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
